
*.vsidx
*.vsidx
ProLi/.vs/ProLi/v17/.suo
*.dll
*.pdb
*.json
*.json
*.cache
*.cache
*.txt
*.txt
*.dll
*.editorconfig
*.cache
*.pdb
*.dll
*.dll
*.json
*.json
*.json
*.props
*.json
*.cache
*.json
*.vsidx
