html {
  font-size: 14px;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Montserrat, 'Courier New', Courier, monospace;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  overflow: clip;
}

/* -------------------------------Főmenü stuff---------------------------- */

header nav,
.fomenu-lista {
  z-index: 1;
}

header nav {
  left: 0;
  position: absolute;
  /*background-color: #fff;*/
  padding: 3vh;
  margin-bottom: 2vh;
  transition: 0.5s;
  overflow: hidden;
  width: 100vw;
  height: 36vh;
}

.fomenu-lista {
  display: flex;
  position: absolute;
  left: 23vw;
  height: inherit;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 3vh 0;
  overflow: hidden;
  transition: 0.5s;
  width: 40vw;
}

/* header nav input:checked~.fomenu-lista {
  
} */

.fomenu-lista li {
  margin: 0;
  list-style: none;
  width: 20vw;
  height: 10vh;
  background-color: #ffffff9c;
}

.fomenu-lista li a {
  text-decoration: none;
  color: #12274f;
  text-transform: uppercase;
  font-size: 4vh;
  font-weight: 600;
  transition: 0.5s;
}

.fomenu-lista li a:hover {
  color: #091327;
}

header nav a input {
  z-index: 2;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 6vw;
  height: inherit;
  aspect-ratio: 117/160;
  left: 2vw;
}

header nav .logotartaly {
  position: absolute;
  left: 2vw;
  z-index: 1;
  cursor: pointer;
  height: 30vh;
}

header nav img {
  height: 100%;
}

html {
  overflow: hidden;
}

.leiras {
  z-index: 1;
  position: absolute;
  display: block;
  top: 40%;
  left: 0;
  width: 76vw;
  margin: 0vh 12vw;
  color: #12274f;
  font-weight: 450;
  font-size: 3vh;
  background-color: #ffffff9c;
}

footer {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding: 0vh 12vw;
}