@model ProLi.Models.People

@{
    ViewData["Title"] = "Törlés";

}


<h3>A törlés gomb megnyomásával törlődik a személy és az összes adata!</h3>
<div>
    
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-dark" /> |
        <a asp-action="Index">Vissza</a>
    </form>
</div>
