@model ProLi.Models.Proliperson

@{
    ViewData["Title"] = "Edit";
}

<h1>Adatok szerkesztése</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonId" />
            <div class="form-group">
                <label asp-for="PersonName" class="control-label">Név</label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonCountry" class="control-label">Ország</label>
                <input asp-for="PersonCountry" class="form-control" />
                <span asp-validation-for="PersonCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonEmail" class="control-label">E-mail</label>
                <input asp-for="PersonEmail" class="form-control" />
                <span asp-validation-for="PersonEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonPhone" class="control-label">Telefon</label>
                <input asp-for="PersonPhone" class="form-control" />
                <span asp-validation-for="PersonPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonComment" class="control-label">Megjegyzés</label>
                <input asp-for="PersonComment" class="form-control" />
                <span asp-validation-for="PersonComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonSpecComment" class="control-label">Bizalmas megjegyzés</label>
                <input asp-for="PersonSpecComment" class="form-control" />
                <span asp-validation-for="PersonSpecComment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Rögzítés" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vissza a személyek listájához</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
