@{
    ViewData["Title"] = "Kezdőlap";
}

<div class="text-center">
    <h1 class="display-4">Üdvözöljük a ProLi-n!</h1>
    <p>A ProLi lehetővé teszi, hogy könnyedén és hatékonyan kezelje az eseményeit és találkozóit, bármilyen méretű és típusú szervezetben dolgozzon is.<br>A ProLi könnyen használható, intuitív felülete és rugalmas beállítási lehetőségei segítségével minden felhasználó számára ideális megoldást kínál.<br>Regisztráljon most és kezdje el használni az események tervezésének és kezelésének egyszerű módját a ProLi-val!</p>
</div>
