@{
    ViewData["Title"] = "Kezdőlap";
}

<div>
    <p>Üdvözöljük a ProLi-n!</p>
    <p>A ProLi lehetővé teszi, hogy könnyedén és hatékonyan kezelje az eseményeit és találkozóit, bármilyen méretű és típusú szervezetben dolgozzon is.</p>
    <p>A ProLi könnyen használható, intuitív felülete és rugalmas beállítási lehetőségei segítségével minden felhasználó számára ideális megoldást kínál.</p>
</div>
