<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProLi</title>
    <script src="~/js/particles.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <link rel="icon" type="image/x-icon" href="~/css/favicon.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div id="particles-js">
        <header>
            <partial name="_LoginPartial" />
            <nav>
                <ul class="fomenu-lista">
                    <a class="logotartaly" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="logo" src="~/css/prolilogo.png" alt="Logo">
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-area="" asp-controller="People" asp-action="Index">
                                <img src="~/css/szemelyek.png" alt=" ">
                                Személyek</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Event" asp-action="Index">
                                <img src="~/css/esemenyek.png" alt=" ">
                                Események</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="User" asp-action="GetUsers">
                                <img src="~/css/felhasznalok.png" alt=" ">
                                Felhasználók</a>
                        </li>
                    }
                </ul>
            </nav>
        </header>
        <main role="main" class="tartalom">
            @RenderBody()
        </main>
        <footer>
            &copy; 2023 - ProLi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>
    </div>
    <script src="~/js/particles.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
