<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProLi</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.png">

</head>
<body>
    <div id="particles-js">
    <header>
        <nav>
            <input type="checkbox">
            <img src="~/css/prolilogo.png" id="logo">
            <ul class="fomenu-lista">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Kezdőlap</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="People" asp-action="Index">
                        Rögzített
                        személyek
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="People" asp-action="ShowSearchForm">Keresés</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ProLi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/particles.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
